[Unit]
Description=uWSGI instance to serve root flask app
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/modules/root_app
Environment="PATH=/var/www/modules/root_app"
ExecStart=/usr/local/bin/uwsgi --ini root_app.ini

[Install]
WantedBy=multi-user.target