# This file requires a newline at the EOF to run
*/1 * * * * cd /var/www/modules/crons/example_cron && /bin/python3 /var/www/modules/crons/example_cron/example_cron.py >> /var/log/example_cron/example_cron.log

