[Unit]
Description=uWSGI instance to serve example_api
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/modules/example_api
Environment="PATH=/var/www/modules/example_api"
ExecStart=/usr/local/bin/uwsgi --ini example_api.ini

[Install]
WantedBy=multi-user.target